<div class="about-main-container">
  <div class="main-text-container">
    <div class="main-text">
      <p>
        <span *ngIf="languageService.isEnglish$ | async">Sobre Nosotros</span>
        <span *ngIf="!(languageService.isEnglish$ | async)">About Us</span>
      </p>
    </div>
    <div class="about-content-container">
      <img class="people-img" src="assets/images/people.jpg" alt="" />
      <p class="about-description">
        <span *ngIf="languageService.isEnglish$ | async"
          >Durante 16 años de ministerio de Oscar y Karla y del equipo de la Red
          Impactando a Guatemala -IGN-, Dios les ha permitido servir a más de
          140 iglesias en Guatemala y en varios países de Latinoamérica. En este
          caminar han descubierto algo profundo: los pastores, que día a día
          entregan todo por sus congregaciones, también necesitan descanso,
          renovación y capacitación continua.</span
        >
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >During Oscar and Karla's 16 years of ministry, along with the
          Impacting Guatemala Network (IGN) team, God has allowed them to serve
          more than 140 churches in Guatemala and several countries in Latin
          America. Along this journey, they have discovered a profound truth:
          pastors—who pour themselves out daily for their congregations—also
          need rest, renewal, and ongoing training.</span
        >
      </p>

      <p class="about-description">
        <span *ngIf="languageService.isEnglish$ | async"
          >Muchos de ellos cargan con innumerables responsabilidades: atender
          las necesidades de sus miembros, dirigir ministerios, dirigir
          reuniones, preparar predicaciones, etc… y en medio de todo eso, muchas
          veces olvidan cuidarse a sí mismos, a sus esposas y a sus hijos. El
          costo es alto: agotamiento, familias heridas, ministerios abandonados.
          Y cuando un pastor fracasa, también la iglesia sufre.
        </span>
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >Pastors often carry overwhelming responsibilities: caring for the
          needs of their members, leading ministries, directing meetings,
          preparing sermons, and much more. In the midst of all this, they have
          no time to care for themselves, their spouses, and their children. The
          price is heavy—exhaustion, broken families, abandoned ministries. And
          when a pastor falls, the church feels the weight as well.</span
        >
      </p>
      <p class="about-description">
        <span *ngIf="languageService.isEnglish$ | async"
          >Pero Dios, en su fidelidad, transformó esta necesidad en una visión
          poderosa: el Centro Cristiano Shabbat. Un lugar diseñado para
          capacitar, fortalecer y renovar a pastores, líderes e iglesias. Un
          espacio donde ellos puedan descansar, crecer física, emocional,
          bíblica y espiritualmente. También será un lugar donde las
          congregaciones podrán realizar campamentos y encuentros que edifiquen
          su fe.
        </span>
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >But in His faithfulness, God turned this need into a powerful vision:
          The Shabbat Christian Center. A place created to strengthen, restore,
          and equip pastors, leaders, and churches. A space where they can find
          rest, grow physically, emotionally, biblically, and spiritually, and
          where congregations can also come together for camps and gatherings
          that build their faith.</span
        >
      </p>
      <p class="about-description">
        <span *ngIf="languageService.isEnglish$ | async"
          >El Centro Cristiano Shabbat no es solo un proyecto, es un regalo de
          Dios para su iglesia. Es un recordatorio de que, en medio del
          servicio, el Señor también nos llama a detenernos, a recargar fuerzas
          y a ser renovados en Su presencia.
        </span>
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >The Shabbat Christian Center is more than just a project—it is a gift
          from God to His church. It is a reminder that in the midst of serving,
          the Lord calls us to pause, to recharge, and to be renewed in His
          presence.</span
        >
      </p>
      <p class="about-description">
        <span *ngIf="languageService.isEnglish$ | async"
          >Alabamos a Dios por los muchos socios ministeriales que ya se han
          unido a esta visión de Dios. Hoy queremos invitarte a ser parte de
          esta visión de Dios para Su pueblo. Juntos podemos construir este
          sueño en realidad, un lugar que dará vida y esperanza a quienes día a
          día entregan todo por el Evangelio. Tu oración y apoyo financiero hará
          que el Centro Cristiano Shabbat se convierta en una realidad que
          impactará generaciones.
        </span>
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >We praise God for the many ministry partners who have already joined
          this vision of God. Today, we invite you to join us in making this
          vision a reality. Together we can build a place that will bring life,
          hope, and strength to those who give everything for the Gospel. Your
          prayers and financial support will help turn the Shabbat Christian
          Center into a reality that will impact generations to come.</span
        >
      </p>
      <p class="about-description">
        <span *ngIf="languageService.isEnglish$ | async"
          >¡Únete a esta visión y seamos instrumentos de renovación en las manos
          de Dios!
        </span>
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >Join the vision—let us be God’s instruments of renewal for His
          church!</span
        >
      </p>
    </div>
  </div>
</div>
