.main-container {
  width: 100vw;
  height: 87vh;
  background-size: 600% 600%;
  animation: forestShift 20s ease infinite;
  color: #f3f3f3;
  min-height: fit-content;
  position: absolute;
  top: 13vh;
}

.main-text-container {
  /* display: flex; */
  width: 100vw;
  height: fit-content;
  /* background-color: #86c41a; */
}
.main-text {
  /* background-color: pink; */
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 8.5%;
  padding: 2rem 0 2rem 0;
}
.main-text p {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #476067;
}

.content-container {
  height: fit-content;
  width: 83%;
  margin-left: 8.5%;
  /* background-color: red; */
}

.description {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #476067;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.list {
  margin-left: 1.3rem;
  line-height: 2.5rem;
}

.img-cntr {
  margin-bottom: 2rem;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: red; */
}

.facilities-img {
  height: 15rem;
  margin: 0 0.7rem 1rem 0;
}

@media (max-height: 680px) {
  .main-text-container {
    margin-top: 2rem;
  }
}
