<div class="main-container">
  <div class="main-text-container">
    <div class="main-text">
      <p>
        <span *ngIf="languageService.isEnglish$ | async">Instalaciones</span>
        <span *ngIf="!(languageService.isEnglish$ | async)">Facilities</span>
      </p>
    </div>
    <div class="content-container">
      <p class="description bold">
        <span *ngIf="languageService.isEnglish$ | async"
          >Lo que ofrece el Centro Cristiano Shabat:</span
        >
        <span *ngIf="!(languageService.isEnglish$ | async)"
          >What the Shabbat Christian Center Offers:</span
        >
      </p>

      <ul class="description list">
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Suite Principal: recámara principal con cama king size y baño
            completo, una recámara con dos camas matrimoniales y baño completo,
            sala, comedor y cocineta.</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Master Suite: master bedroom with king-size bed and full bathroom,
            one bedroom with two full-size beds and full bathroom, living room,
            dining room and kitchenette.</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async">
            Suite: una recámara con dos camas queen-size y baño completo, sala,
            comedor, cocineta y balcón.</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Suite: one bedroom with two queen-size beds and full bathroom,
            living room, dining room, kitchenette, and balcony.</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Jacuzzi y sauna</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Jacuzzi and sauna</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Salas de conferencias</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Conference halls</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Salas de reuniones</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Meeting rooms</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Salón de usos múltiples</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Multipurpose hall</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Dormitorio de hombres con baño completo</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Men's dormitory with full bathroom</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Dormitorio de mujeres con baño completo</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Women's dormitory with full bathroom</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Zonas de descanso comunes</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Common rest areas</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Espacios verdes y jardines</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Green spaces and gardens</span
          >
        </li>
        <li>
          <span *ngIf="languageService.isEnglish$ | async"
            >Zona de fogatas al aire libre</span
          >
          <span *ngIf="!(languageService.isEnglish$ | async)"
            >Outdoor bonfire area</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
