.main-container {
  width: 100vw;
  height: 87vh;
  background-color: #4657282e;
  background-size: 600% 600%;
  animation: forestShift 20s ease infinite;
  color: #f3f3f3;
  min-height: fit-content;
  position: absolute;
  top: 13vh;
}

.main-text-container {
  /* display: flex; */
  width: 100vw;
  height: fit-content;
  /* background-color: #86c41a; */
}
.main-text {
  /* background-color: pink; */
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 8.5%;
  padding: 2rem 0 2rem 0;
}
.main-text p {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #465728;
}

.content-container {
  height: fit-content;
  width: 83%;
  margin-left: 8.5%;
  /* background-color: red; */
}

.description {
  display: flex;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #465728;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.social-media {
  height: 1.4rem;
  margin-right: 0.5rem;
  /* padding-bottom: 4rem; */
}

.link {
  margin-left: 1rem;
  white-space: normal; /* allows text to wrap */
  overflow-wrap: break-word; /* ensures long words break to fit */
  word-break: break-word;
}

.contact-img {
  width: 17rem;
  border-radius: 15px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bottom {
  padding-bottom: 4rem;
}

@media (max-height: 680px) {
  .main-text-container {
    margin-top: 2rem;
  }
}
